.dugout-blinker {
  width: 3em;
  height: 3em;

  &, &:before, &:after {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: fade(@blue, 25%);
    border-radius: 50%;
  }

  &:before, &:after {
    content: "";
  }

  &:before {
    width: 75%;
    height: 75%;
    background-color: fade(@blue, 50%);
  }

  &:after {
    width: 50%;
    height: 50%;
    background-color: @blue;
  }
}
